/*
############     _settings-index.scss      ############
variables and settings
*/

:root .utah-design-system {
  --primary-color: #4D2A54;
  --primary-color-dark: #321B36;
  --primary-color-light: #EFE4F1;
  --gray-on-primary-color: #474747;
  --secondary-color: #4D7B8D;
  --secondary-color-dark: #243942;
  --secondary-color-light: #E5EDF1;
  --gray-on-secondary-color: #474747;
  --accent-color: #EACA00;
  --accent-color-dark: #664700;
  --accent-color-light: #FFF7C2;
  --gray-on-accent-color: #474747;

  --main-width: 700px;
  --main-width-wide: 900px;
  --main-left-width: 200px;
  --main-right-width: 200px;
  --main-padding: var(--spacing-2xl) var(--spacing-xl);
  --main-padding-small: var(--spacing-xl) var(--spacing);
}

.logo-text {
  display: inline-block;
  margin-bottom: 0;
  font-size: 3em;
  font-weight: bold;
  line-height: .8;
  color: #fff;
  text-align: left;
  letter-spacing: .2em;
}

.logo-text > span {
  display: block;
  position: relative;
  top: -88px;
  left: 40px ;
  font-size: .5em;
  font-weight: normal;
  letter-spacing: normal;
}

.utah-design-system .footer-agency-information__title-image > img {
  width: 20%;
}
